#ignore files
01_input/01_population_raster/
01_input/02_shapefile/*
01_input/03_admin_boundary_with_pop/*
01_input/04_admin_boundary_without_pop/*
01_input/05_cluster/*
03_GIS/*
04_communications/*
rsconnect/*

*.RDataTmp
*.RData
*.Rhistory
*.tif


.Rproj.user


!/01_input/02_shapefile/.gitkeep
!/01_input/03_admin_boundary_with_pop/.gitkeep
!/01_input/04_admin_boundary_without_pop/.gitkeep
!/01_input/05_cluster/.gitkeep